* {
  margin: 0 auto;
  padding: 0;
}

body{
  // background: #74b9ff;
  background: wheat;
  width: 90%;
}

.searchBox{
  display: flex;

  #inputBox {
    width: 20em;
    text-align: center;
    padding: 1.5em;
    margin: 0 auto;
  }
}


.container {
  background: white;
}
