* {
  margin: 0 auto;
  padding: 0;
  font-family: Spectral;
}

body{
  // background: #74b9ff;
  background: #b2bec3;
}


// .navbar {
//   flex-wrap: nowrap;
// }
nav {

  .mr-auto {
    display: flex;
    flex-direction: row;
  }
}



.searchBox{
  display: flex;
  flex-direction: column;
  padding-top: 2em;

  #inputBox {
    width: 20em;
    text-align: center;
    padding: 1.5em;
    margin: 0 auto;
  }

  .button {
    margin-top: 1em;
  }

}


.container {
  background: #b2bec3;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 0;

  .city-name {
    visibility: hidden;
    display: inline-block;
    margin: 0 0;
    #city-name {
      text-shadow: #FFF 1px 0 10px;
      display: inline-block;
      width: 100%;
      line-height: 50px;
      font-size: 4em;
      align-items: center;
      padding: 0.5em;
    }
  }
  .weather-cards {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .current-weather {
      border: 1px solid black;
      width: 25%;

    }
}

    .high-low {

      #high {
        padding: .5em;
      }
      #low {
        padding: .5em;
      }

      .humidity {

          #humidity {
            display: flex;
            margin-top: 1.5em;
            justify-content: center;
          }
      }
    }

    .today-weather {
      // display: flex;
      border: 1px solid black;
      width: 25%;


    }

    .tonight-weather {
      border: 1px solid black;
      width: 25%;



    }

    .tomorrow-weather {
      border: 1px solid black;
      width: 25%;

    }



// end of weather-cards
  .time-text {
    text-align: center;
  }
  .temp-icon {
    width: 6em;
    height: 6em;
    visibility: hidden;
  }
  .weather-info {
    padding: .25em;
    display: flex;
    flex-direction: column;
  }

  .temp {
    font-size: 3em;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 0 6px;
  }

  .high-low {
    text-align: center;
  }

  .card {
    min-height: 300px;
    box-shadow: 2px 2px 2px 2px grey;
  }

}

@media only screen and (max-width: 960px) {
  .container {
    .temp {
      font-size: 30px;
    }
  }

}

@media only screen and (max-width: 735px) {
  .time-text {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 631px) {
  .temp {
    border-right: 0px solid black !important;
  }
}

@media only screen and (max-width: 560px) {
  .time-text {
    font-size: 1em;
  }
}
