.nav {
  min-width: 100%;
  justify-content: center;
}

body {
  background: radial-gradient(closest-side, #74b9ff, #a29bfe);
  height: 100vh;
}

.geo-locate {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

#geo-locate-btn {
  width: 75%;
  margin-top: 1em;
}

#loader{
  visibility: hidden;
  background: blue;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  margin-top: .5em;
}

.hourly {
  padding-top: 1em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hourlyUl {
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 2px;
  list-style: none;
  display: inline-flex;
  padding: .5em;
  border: .5px solid black;
  text-align: center;
  visibility: hidden;
  flex-direction: column;
  width: 80%;
}

.hourlyUl li {
  background: rgb(0,0,0,0.8);
  border: .5px solid black;
  border-radius: 2px;
  padding: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hourlyUl li p {
  color: white;
}

.hourly-li {
  flex-direction: row;
  padding: 2em;
}

.time {
  font-size: 3em;
  justify-content: flex-start;
}
